.popup-image__button {
    border: none;
    padding: 0;
    background-color: transparent;
    background-image: url("../../../image/CloseIcon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    outline: none;
    position: absolute;
    cursor: pointer;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
}
@media screen  and (max-width: 400px) {
    .popup-image__button {
      background-image: url("../../../image/CloseIcon3.svg");
      right: 0px;
      width: 20px;
      height: 20px;
      top: -30px;
    }
}
.popup-image__button:hover {
    opacity: 0.6;
}