.popup__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    margin-left: 36px;
    margin-right: 64px;
    margin-top: 34px;
    margin-bottom: 54px;
    max-width: 330px;
    width: 100%;
}

@media screen and (max-width: 574px) {
    .popup__title {
        font-size: 18px;
        max-width: 238px;
    }
}

@media screen and (max-width: 385px) {
    .popup__title {
        margin-left: 22px;
        margin-right: 22px;
        margin-top: 25px;
        margin-bottom: 75px;
        line-height: 21.78px;
    }
}
