.popup__save {
    max-width: 358px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 50px;
    margin-top: 18px;
    border-radius: 2px;
    margin-bottom: 37px;
    padding: 0;
    cursor: pointer;
    border: none;
}

.popup__save:hover {
    opacity: 0.8;
}

@media screen and (max-width: 574px) {
    .popup__save {
        max-width: 258px;
    }
}

@media screen and (max-width: 385px) {
    .popup__save {
        max-width: 238px;
        height: 46px;
        margin-bottom: 25px;
        font-size: 14px;
    }
}
