.popup__text-error {
    display: inline-block;
    color: red;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 12px;
    font-weight: 400;
    max-width: 358px;
    line-height: 14px;
    min-height: 29px;
}