.elements {
    max-width: 880px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    row-gap: 20px;
    column-gap: 17px;
    margin-top: 51px;
}

@media screen and (max-width: 916px) {
    .elements {
        justify-content: center;
    }
}
@media screen  and (max-width: 320px) {
    .elements {
        margin-top: 36px;
    }
    
}