.profile__container {
    display: flex;
    margin-bottom: 16px;
}
@media screen  and (max-width: 642px) {
    .profile__container {
        margin-left: auto;
        margin-right: auto;
    }
    
}



@media screen and (max-width: 320px) {
    .profile__container {
        margin-bottom: 14px;
        margin-left: 0;
        margin-right: 0;
    }
}