.profile__name {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 16px;
    max-width: 294px;
    width: 100%;
}

@media screen and (max-width: 916px) {
    .profile__name {
        font-size: 32px;
        max-width: 256px;
        line-height: 38px;
    }
}

@media screen and (max-width: 642px) {
    .profile__name {
        font-size: 20px;
        line-height: 28px;
    }
}

@media screen and (max-width: 448px) {
    .profile__name {
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .profile__name {
        max-width: 282px;
        margin-bottom: 14px;
        font-size: 27px;
        line-height: 32.68px;
    }
}