.profile__info {
    max-width: 336px;
    outline: #FFFFFF;
    position: relative;
    width: 100%;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width: 916px) {
    .profile__info {
        max-width: 280px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 642px) {
    .profile__info {
        max-width: 242px;
        margin-left: 0;
        margin-top: 26px;
    }
}

@media screen and (max-width: 448px) {
    .profile__info {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 320px) {
    .profile__info {
        max-width: 282px;
    }
}