.profile__button {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    padding: 0;
    top: 15px;
    border: 1px;
    background-color: #000000;
    color: #FFFFFF;
}

.profile__button:hover {
    opacity: 0.5;
}

@media screen and (max-width: 320px) {
    .profile__button {
        width: 18px;
        height: 18px;
        top: 8px;
        right: 19px;
    }
}